*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.extra
.gitconfig
.gnupg
!.gnupg/gpg*.conf
.i3/logfile
.irssi/away.log
.irssi/config*
.irssi/nicknames_whitelist
.irssi/otr
.irssi/saved_colors
.irssi/scripts/autorun/blocker.pl
.irssi/startup
.rainbow_oauth
.nginx/conf.d/*
