[Unit]
Description=Notifications Daemon
Documentation=https://wiki.ubuntu.com/NotifyOSD
After=network.target docker.socket
Requires=dbus.socket

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=XAUTHORITY=%h/.Xauthority
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/%U/bus
Environment=DISPLAY=:0.0
ExecStartPre=-/usr/bin/docker rm -f notify-osd
ExecStart=/usr/bin/docker run -d --restart always -v /etc/machine-id:/etc/machine-id:ro \
	-v /var/run/dbus:/var/run/dbus \
	-v /var/run/user/%U:/var/run/user/%U \
	-v /etc/localtime:/etc/localtime:ro \
	-e XAUTHORITY \
	-e DBUS_SESSION_BUS_ADDRESS \
	-v /etc/passwd:/etc/passwd:ro \
	-v /etc/group:/etc/group:ro \
	-v /tmp/.X11-unix:/tmp/.X11-unix \
	-e DISPLAY=unix${DISPLAY} \
	-u "%u" -w "%h" \
	-v %h/.Xauthority:%h/.Xauthority \
	-v %h/.cache/dconf:%h/.cache/dconf \
	--name notify_osd \
	jess/notify-osd

[Install]
WantedBy=default.target
