[Unit]
Description=Registrator
Documentation=https://github.com/gliderlabs/registrator
After=network.target docker.socket
Requires=consul.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker rm -f registrator
ExecStart=/usr/bin/docker run -d --restart always \
		  -v /var/run/docker.sock:/tmp/docker.sock \
		  --net host \
		  --name registrator \
		  gliderlabs/registrator consul:

[Install]
WantedBy=default.target
