html,
body {
    height: 100%;
    margin: 0;
}

.fullsize {
    height: 100%;
}
/* vertical box styles */
.vertBox {
    display: flex;
    flex-flow: column;
}

.vertBox .boxRow.header {
    flex: 0 0 auto;
}

.vertBox .boxRow.content {
    flex: 1 1 0;
}

.results {
    flex: 100 1 0;
}

.scrollable {
    overflow: auto;
}

.maxHeight {
    max-height: fit-content;
}

.messages {
    flex: 1 100 0;
    min-height: 15%;
}

.minHeight {
    min-height: fit-content;
}

/* horizontal box style */
.horzBox {
    display: flex;
    flex-flow: row;
}

.horzBox .boxCol.content {
    flex: 1 1 1%;
    overflow: auto;
    max-width: fit-content;
}

.hidden {
    display: none !important;
}