[Unit]
Description=Consul
Documentation=https://www.consul.io/docs/
After=network.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker rm -f consul
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment ENCRYPTKEY=$(docker run --rm jess/consul keygen)"
ExecStart=/usr/bin/docker run -d --restart always \
		  -v /home/%i/.consul:/etc/consul.d \
		  -v /var/run/docker.sock:/var/run/docker.sock \
		  -e GOMAXPROCS=2 \
		  --net host \
		  --name consul \
		  jess/consul agent \
		  -bootstrap-expect 1 -server \
		  -config-dir /etc/consul.d -data-dir /data \
		  -encrypt ${ENCRYPTKEY} \
		  -ui-dir /usr/src/consul -dc neverland -bind 0.0.0.0
ExecStartPost=-/usr/local/bin/hostess add consul 127.0.0.1

[Install]
WantedBy=multi-user.target
