[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target docker.socket firewall.service
Requires=docker.socket

[Service]
Environment=GOMAXPROCS=1
ExecStartPre=-/sbin/iptables -F DOCKER
ExecStartPre=-/sbin/iptables -X DOCKER
ExecStartPre=-/sbin/iptables -N DOCKER
ExecStartPre=-/sbin/iptables -I DOCKER -i ext_if ! -s 127.0.0.1 -j DROP
ExecStart=/usr/bin/docker daemon -D \
		  -s overlay \
		  -H fd:// \
		  --exec-opt=native.cgroupdriver=cgroupfs \
		  --userland-proxy=false \
		  --disable-legacy-registry=true \
		  --iptables=true \
		  --userns-remap=default
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
