[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target docker.socket firewall.service
Requires=docker.socket

[Service]
Environment=GOMAXPROCS=2
ExecStartPre=-/sbin/iptables -F DOCKER
ExecStartPre=-/sbin/iptables -X DOCKER
ExecStartPre=-/sbin/iptables -N DOCKER
ExecStartPre=-/sbin/iptables -I DOCKER -i ext_if ! -s 127.0.0.1 -j DROP
ExecStart=/usr/local/bin/dockerd -D \
		  -s overlay \
		  -H fd:// \
		  --exec-opt=native.cgroupdriver=cgroupfs \
		  --userland-proxy=true \
		  --disable-legacy-registry=true \
		  --iptables=true
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
MemoryLimit=4G
CPUQuota=50%

[Install]
WantedBy=multi-user.target
