# i3lock on commputer sleep
#	Source: https://bbs.archlinux.org/viewtopic.php?pid=1170536#p1170536 by 65kid
#	Also: https://wiki.debian.org/ScreenLockingOnSleep
[Unit]
Description=i3lock
Before=suspend.target

[Service]
Type=forking
User=jessie
Environment=DISPLAY=:0.0
ExecStart=/bin/su - jessie -c "/bin/sh -c 'DISPLAY=:0.0 /usr/bin/i3lock -c 111111'"

[Install]
WantedBy=suspend.target
