[Unit]
Description=iwd Wireless Service Daemon
Documentation=https://git.kernel.org/pub/scm/network/wireless/iwd.git
After=network.target

[Service]
ExecStartPre=-/sbin/modprobe -v ath10k_pci ath10k_core
ExecStart=/lib/x86_64-linux-gnu/iwd/iwd --debug
LimitNPROC=1
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
