[Unit]
Description=nginx
Documentation=http://nginx.org/en/docs/
After=network.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/bin/docker rm -f nginx
ExecStart=/usr/bin/docker run -d --restart always \
		  -v /home/%i/.nginx:/etc/nginx \
		  --net host \
		  --name nginx \
		  nginx
ExecStartPost=-/usr/local/bin/hostess add nginx 127.0.0.1

[Install]
WantedBy=multi-user.target
