[Unit]
Description=Hibernate after suspend
Before=suspend.target
StopWhenUnneeded=true

[Service]
Type=oneshot
Environment="ALARM_SEC=300"

ExecStart=/usr/sbin/rtcwake --seconds ${ALARM_SEC} --auto --mode no
ExecStop=/bin/sh -c '\
if [ "a$(/usr/sbin/rtcwake --mode show --auto)" = "aalarm: off" ]; then \
	echo "suspend-sedation: Woke up - no alarm set. Hibernating..."; \
	systemctl hibernate; \
else \
	echo "suspend-sedation: Woke up before alarm - normal wakeup."; \
	/usr/sbin/rtcwake --auto --mode disable; \
fi \
'

[Install]
WantedBy=sleep.target
