[Unit]
Description=Updates git forks and mirrors for %i

[Service]
Type=oneshot
User=%i
Environment=HOME=/home/%i
ExecStart=/usr/local/bin/update-forks
ExecStart=/usr/local/bin/update-mirrors
